<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default black">
      <div class="panel-body">

        <div class="form-group has-success">
          <label class="" for=""></label>
          <input class="form-control" type="text" name="query" [(ngModel)]="query" placeholder="SearchMusic..." (keyup)="searchTrack()">

          <select [(ngModel)]="type" class="form-control" name="type">
            <option value="all">All</option>
            <option value="track">Song</option>
            <option value="artist">Artist</option>
            <option value="album">Album</option>
          </select>
        </div>

        	<!-- <div class="row">
            <div class="col-sm-12">
              <div class="input-group">
                <input class="form-control" type="text" name="query" [(ngModel)]="query" placeholder="SearchMusic..." (keyup)="searchTrack()">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle green-text" data-toggle="dropdown">Type <span class="caret"></span></button>
                  <ul (click)="searchType()" [(ngModel)]="type" class="dropdown-menu pull-right" role="menu">
                    <li value="all"><a href="#">All</a></li>
                    <li value="track"><a href="#">Song</a></li>
                    <li value="artist"><a href="#">Artist</a></li>
                    <li value="album"><a href="#">Album</a></li>
                  </ul>
                </div>
              </div>
            </div>
        	</div> -->


      </div> <!-- end panel body -->
    </div> <!-- end panel -->
  </div> <!-- end column -->
</div> <!-- end row -->


<app-search-results></app-search-results>
